<!doctype html>
<html>
	<head>

	<meta charset="utf-8">
	<meta name="viewport" content="width=device-width, user-scalable=no, minimal-ui">
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/font-awesome/4.4.0/css/font-awesome.min.css" />
  <link rel="apple-touch-icon-precomposed" sizes="57x57" href="apple-touch-icon-57x57.png" />
  <link rel="apple-touch-icon-precomposed" sizes="114x114" href="apple-touch-icon-114x114.png" />
  <link rel="apple-touch-icon-precomposed" sizes="72x72" href="apple-touch-icon-72x72.png" />
  <link rel="apple-touch-icon-precomposed" sizes="144x144" href="apple-touch-icon-144x144.png" />
  <link rel="apple-touch-icon-precomposed" sizes="60x60" href="apple-touch-icon-60x60.png" />
  <link rel="apple-touch-icon-precomposed" sizes="120x120" href="apple-touch-icon-120x120.png" />
  <link rel="apple-touch-icon-precomposed" sizes="76x76" href="apple-touch-icon-76x76.png" />
  <link rel="apple-touch-icon-precomposed" sizes="152x152" href="apple-touch-icon-152x152.png" />
  <link rel="icon" type="image/png" href="favicon-196x196.png" sizes="196x196" />
  <link rel="icon" type="image/png" href="favicon-96x96.png" sizes="96x96" />
  <link rel="icon" type="image/png" href="favicon-32x32.png" sizes="32x32" />
  <link rel="icon" type="image/png" href="favicon-16x16.png" sizes="16x16" />
  <link rel="icon" type="image/png" href="favicon-128.png" sizes="128x128" />
  <meta name="application-name" content="LaithResume"/>
  <meta name="msapplication-TileColor" content="#FFFFFF" />
  <meta name="msapplication-TileImage" content="mstile-144x144.png" />
  <meta name="msapplication-square70x70logo" content="mstile-70x70.png" />
  <meta name="msapplication-square150x150logo" content="mstile-150x150.png" />
  <meta name="msapplication-wide310x150logo" content="mstile-310x150.png" />
  <meta name="msapplication-square310x310logo" content="mstile-310x310.png" />
	<title>{{#resume.basics}}{{name}}{{/resume.basics}}</title>

	<style>
	{{{css}}}
	</style>

	</head>
	<body>

	<div id="resume">
		{{#resume.basics}}
			<div class="header">
				<h1 class="name">{{name}}</h1>
				<h4 class='tagline-label'>"{{label}}"</h4>
			</div>

			<section id="basics" class="container">
				<div class="contact">

					{{#if phone}}
					<div class="phone">
            <strong>Phone</strong><br>
            <div class="values">{{phone}}</div><br>
					</div>
					<br>
					{{/if}}

					{{#if email}}
					<div class="email">
            <strong>Email</strong><br>
            <div class="values">{{email}}</div><br>
					</div>
					<br>
					{{/if}}

					{{! SOCIAL/PROFILES }}
          {{#if profiles.length}}
						<div class="follow">
              <strong class="network">Follow</strong><br>
						  <div class="values">
              {{#each profiles}}
                <span class="username">
                  <a href="{{url}}" target="_blank"><span class="fa fa-{{spaceToDash network}} fa-lg"></span></a>
                </span>
              {{/each}}
              </div>
            </div>
            <br>
          {{/if}}

          {{! Resume Types }}
					{{#if resumes.length}}
						<div class="resumes">
						  <strong class="resume-style">
							  Resume
							</strong><br>
						  <div class="values">
						  {{#each resumes}}
							  <a href="{{url}}">{{name}}</a>
						  {{/each}}
              </div>
						</div>
					{{/if}}

				</div>


				{{#if summary}}
				<div class="summary">
					<p>{{summary}}</p>
				</div>
				{{/if}}
			</section>
		{{/resume.basics}}
	</div>


	</body>
</html>
