<!doctype html>
<html>
	<head>

	<meta charset="utf-8">
	<meta name="viewport" content="width=device-width, user-scalable=no, minimal-ui">
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/font-awesome/4.4.0/css/font-awesome.min.css" />

	<title>{{#resume.basics}}{{name}}{{/resume.basics}}</title>

	<style>
	{{{css}}}
	</style>

	</head>
	<body>

	<div id="resume">
		{{#resume.basics}}
			<div class="header">
				<h1 class="name">{{name}}</h1>
				<h4 class='tagline-label'>"{{label}}"</h4>
			</div>

			<section id="basics" class="container">
				<div class="contact">

					{{#if phone}}
					<div class="phone">
            <strong>Phone</strong><br>
            <div class="values">{{phone}}</div><br>
					</div>
					<br>
					{{/if}}

					{{#if email}}
					<div class="email">
            <strong>Email</strong><br>
            <div class="values">{{email}}</div><br>
					</div>
					<br>
					{{/if}}

					{{! SOCIAL/PROFILES }}
          {{#if profiles.length}}
						<div class="follow">
              <strong class="network">Follow</strong><br>
						  <div class="values">
              {{#each profiles}}
                <span class="username">
                  <a href="{{url}}" target="_blank" rel="noopener">
                    <span class="fa fa-{{spaceToDash network}} fa-lg"></span>
                  </a>
                </span>
              {{/each}}
              </div>
            </div>
            <br>
          {{/if}}

          {{! Resume Types }}
					{{#if resumes.length}}
						<div class="resumes">
						  <strong class="resume-style">
							  Resume
							</strong><br>
						  <div class="values">
						  {{#each resumes}}
							  <a href="{{url}}">{{name}}</a>
						  {{/each}}
              </div>
						</div>
					{{/if}}

				</div>


				{{#if summary}}
				<div class="summary">
					<p>{{summary}}</p>
				</div>
				{{/if}}
			</section>
		{{/resume.basics}}
	</div>


	</body>
</html>
